@model IEnumerable<EmployeeToReturnDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>All Employees</h1>
<br />
<br />

<a class = "btn btn-primary" asp-controller="Employee" asp-action="Create"> Create Employee</a>
<br />

@if (Model.Count() > 0)
{
    <table class ="table table-striped table-hover mt-3" >
        <thead class = "text-center">
            <th> @Html.DisplayNameFor(E=>E.Name) </th>
            <th> @Html.DisplayNameFor(E=>E.Email) </th>
            <th> @Html.DisplayNameFor(E=>E.EmployeeType) </th>
            <th> @Html.DisplayNameFor(E=>E.Age) </th>
            <th> @Html.DisplayNameFor(E=>E.salary) </th>
            <th> @Html.DisplayNameFor(E=>E.ISActive) </th>
            <th> @Html.DisplayNameFor(E=>E.Gender) </th>
        
            <th>details</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
            
        <tbody class = "text-center">
            @foreach(var Employee in Model)
            {
                <tr> 
                        <td>@Employee.Name </td>
                        <td>@Employee.Email </td>
                        <td>@Employee.EmployeeType </td>
                        <td>@Employee.Age </td>
                        <td>@Employee.salary </td>
                        <td>@Employee.ISActive </td>
                        <td>@Employee.Gender </td>
                        <td>
                            <a class ="btn btn-primary" asp-controller="Employee" asp-action="Details" asp-route-Id="@Employee.Id"> 
                            <i Class="fas fa-eye"></i> Details
                             </a>
                        </td>

                        <td>
                              <a class ="btn btn-success" asp-controller="Employee" asp-action="Edit" asp-route-Id="@Employee.Id"> 
                            <i Class = "fas fa-edit"></i> Edit
                               </a>
                        </td>

                        <td>
                               @*  <a class ="btn btn-danger" asp-controller="Employee" asp-action="Delete" asp-route-Id="@Employee.Id">
                                        <i Class = "fas fa-trash"></i> Delete
                                </a> *@

                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                     <i Class = "fas fa-trash"></i> Delete
                                </button>
                        </td>
                </tr>
           <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Employee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this Employee? 
              </div>
              <div class="modal-footer">
                <form asp-action="Delete" asp-route-id="@Employee.Id" class = "mt-4">
                    <button type="button" class = "btn btn-secondary" data-bs-dismiss="model"> Close</button>
                    <input type = "submit" value = "Delete" class=  "btn btn-danger"></input>
                </form>
              </div>
            </div>
          </div>
        </div>
        }

        </tbody>

    </table>
}
else
{
    <div class = "alert alert-info mt-3">
        <h2> No Employees Found !!</h2>
    </div>
}


